/* bouton ajouter  */
.btn-primary{
  margin-right: -110%;
  margin-top: -10.5%;
  background-color: orange;
}

/* bouton valider */
.btn-lg{
  margin-right: 2%;
  margin-top: -1%;
  background-color: orange;
}

.image-logo{
  margin-top: -20%;
  margin-left: 10%;
}

.image-logo img{
  max-width: 80%;
}
