#boutonPlus{
  margin-right: -110%;
  margin-top: -10.5%;
}


/* bouton ajouter  */
.btn{
  background-color: #D53801;
  border-color: #D53801;
  color: white;
}

/* bouton valider */
.btn-valider{
  margin-right: 2%;
  margin-top: -1%;
}

.image-logo{
  margin-top: -20%;
  margin-left: 10%;
}

.image-logo img{
  max-width: 80%;
}
