<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <div class="image-logo">
                      <img src="../../../assets/img/KwaMangerLogoWhite.png" alt="logo">
                    </div>
                    <div id="barreAliments">

                      <input class="form-control" id="barreAlim" type="text" [(ngModel)]="model">


                          <button class="btn btn-primary"  id="boutonPlus" [disabled]="model === ''" type="button" (click)=updateIngredient();viderBarre()>+</button>


                          <br>


                            <button class="btn btn-primary btn-lg enabled" id="validerBouton" type="valider" *ngIf="listeAlim.length == 0" disabled (click)=envoyerIngredients()>Valider</button>
                            <button class="btn btn-primary btn-lg enabled" id="validerBouton" type="valider" *ngIf="listeAlim.length > 0" (click)=envoyerIngredients()>Valider</button>
                            <br>


                            <br>
                      </div>
                </div>
            </div>
        </div>
    </div>
</header>
