.map-container{
  width: 100%;
  height: 50%;
  position: absolute;
  border-radius: 20px;
  border: solid;
  margin-left: 10px;
  margin-right: 10px;
}

.titre-map{
  text-align: center;
  font-size: 30px;
}

.titre-map button{
  text-align: center;
  font-size: 30px;
}
