<div id={{titre}} class="bloc-recette" (click)="envoiInfosNutri()">
  <div class="image-recette">
    <img src="{{image}}" alt="">
  </div>
  <div class="titre">
    <h1>{{titre}}</h1>
  </div>
  <div class="contenu">
    <p *ngFor="let ingr of ingredients">
      - {{ingr}}
    </p>
  </div>
  <div class="infos">
    <div class="totalTime">
      <img src="../../../assets/img/cookTime.png" alt="cook time">
      <p *ngIf="temps == '0'; else elseBlock">? minutes</p>
      <ng-template #elseBlock>
        <p>{{temps}} minutes</p>
      </ng-template>
    </div>
    <div class="caution">
      <div *ngIf="avertissement.length != 0">
        <img src="../../../assets/img/Caution.png" alt="cautions">
        <p *ngFor="let c of avertissement">
          {{c}}
        </p>
      </div>
    </div>
  </div>
</div>
